<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create Zone</title>
  </head>
  <body>

  <form action="/api/zone" method="post">

    <input type="text" name="name" placeholder="Name">
    <input type="text" name="zipCodes" placeholder="ZipCodes">
    <br>
    <input type="submit" value="Create Zone">

  </form>

  </body>
</html>
