<html>
  <head>
    <title>React</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
  </head>
  <body>
    <div id="root"><%- react %></div>

    <script type="text/javascript">window.__PRELOADED_STATE__ = <%- preloadedState %></script>
    <script src="/build/bundle.js"></script>
  </body>
</html>
